/*@font-face {
  font-family: Futura;
  src: local(bttf_font), url('../fonts/Arual.ttf') format('opentype');
}*/

body {
  background-color: #000000;
}

#title {
  font-family: "Futura", sans-serif;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 25px;
}

/*.quote {
  width: 100%;
  color: #ffffff;
  margin-top: 1em;
  font-size: 1.5em;
  font-style: italic;
}*/

.container {
  width: auto;
}

.modal-content {
  border: none;
  border-radius: 0px;
}

.contain {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 27em;
  margin-top: 13%;
  display: inline-flex;
}

.left-block {
  height: 27em;
  width: 60%;
}

.right-block {
  height: 27em;
  margin-left: 1em;
}

.content {
  padding-left: 2em;
}

#news {
  height: 100%;
}

a {
  color: inherit;
}

iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 30em;
}

a:hover {
  color: inherit;
  text-decoration-color: #000000;
}

.item {
  height: 7em;
}

i {
  padding-left: 0.5em;
}

.liner {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1em;
  color: #ffffff;
  font-family: "Futura", Helvetica, sans-serif;
}


.main-block {
  background-color: #ffffff;
  height: 17em;
}
